body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/*navCSS*/

nav ul a:link{
  color: rgb(248,215,230);
  text-decoration : none;
}

nav ul a:visited{
  
  color: grey;
}

nav ul a:active{
  color: white;
}

.navBG{
  background: rgb(80,63,73);
}

.btnSC{
  /*background-color: rgb(248,215,230);*/
  border: solid 2px rgb(248,215,230);
  color: rgb(248,215,230);
}

.btnFT{
  color: rgb(248,215,230);
}

.btnDNT{
  background-color: rgb(153,63,73);
  color: white;
}


/*homeCSS*/

/*#demoCanvas{
  width: 500px;
  height: 200px;
}*/

.s-padding{
  padding-left: 2px;
}

.img{
  min-width: 100vw;
}

.marginRight{
  margin-left: 5px;
}

.homeBG{
  height: 100vh;
}

/*.homeIMG{
  max-width: 480px; 
  max-height: 500px;
  vertical-align: middle;
}*/

.homeIMG{
  max-width: 41vw; 
  /*max-height: 45vw;*/
  vertical-align: middle;
}

.atc{
  text-decoration: none;
  color: rgb(153,63,73);
}

.homeBTN{
  background-color: rgb(154,142,160);
  color: white;
}

/*homeCSS-carousel*/
/*.carousel-caption{
  width: 50vw;
}*/
.carcap{
  width: 50vw;
}

.footerBG{
  background: rgb(80,63,73);
  height: 250px;
  color: rgb(248,215,230);
}

.footerFT{
  font-size: 40px;
}

/*.carcapBG{
  background-color: rgba(0, 0, 0, 0.6);
  width: 50vw;
}*/

/*learnCSS*/

.heightL{
  height: 700px;
}

.learnBody{
  height: 100vh;
}

.padding{
  padding: 20px;
  margin-left: 35px;
}

.donateBG{
  background-image: url('../images/cartoon.jpeg');
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.price{
  background-color: rgb(125,121,171);
  color: white;
  z-index: 11;
}

.contributeBTN{
  background-color: rgb(153,63,73);
  border: solid 1.5px rgb(248,215,230);
  color: white;
}

.mask{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  /*z-index: 9;*/
}

.dContainer{
  /*margin-top: 20vh;*/
  padding: 5px;
}

.noPadding{
  padding: 0px;
}

.marginTop{
  margin-top: 16px;
}

.marginTop2{
  margin-top: 45px;
}

.learnIMG{
  max-width: 140px; 
  max-height: 140px;
  vertical-align: middle;
}

.learnBTN{
  background-color: rgb(125,121,171);
  color: rgb(213,210,209);
  border: solid 2px rgb(213,210,209);
}
/*.cap2, .cap3{
  color: #121E36;
}*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

